# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# venv
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# project artifacts (не коммитим)
notebook_dump/
notebook_map.txt

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store